* {
    cursor: url('../images/cursor.png') 10 10, auto;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

#body {
    background-color: #000000;
}

#particles-js {
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 100vh;
}

